name: Deploy Backend (Production)

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup SSH
        run: |
          mkdir -p ~/.ssh
          echo "${{ secrets.SSH_PRIVATE_KEY }}" > ~/.ssh/id_ed25519
          chmod 600 ~/.ssh/id_ed25519
          ssh-keyscan -H ${{ secrets.SERVER_HOST_ANUBHA_BACKEND }} >> ~/.ssh/known_hosts

      - name: Deploy to Production Server
        run: |
          ssh ${{ secrets.SERVER_USER }}@${{ secrets.SERVER_HOST_ANUBHA_BACKEND }} << 'EOF'
            cd /var/www/backend/anubha-backend
            git pull origin main
            npm install
            npm run build
            pm2 restart anubha-backend || pm2 start npm --name "anubha-backend" -- start
          EOF
